body, html {
	font-family: 'proxima_nova_rgregular';
	background: url(images/Background.svg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	height:100%;
}

// Variales
@import "fonts";
@import "variables";
@import "mixins";
@import "custom";
@import "home";
@import "modal";
@import "ivr";





